@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* -------------------- */
/* Custom properties    */
/* -------------------- */

:root {
    --clr-dark: 0 0% 7%;
    --clr-gray: 0 0% 42%;
    --clr-yellow: 47 88% 63%;
    --clr-white: 0 0% 100%;
    --fs-300: clamp(0.75rem, 0.25rem + 1vw, 0.875rem);
    --fs-400: clamp(0.875rem, 0.75rem + 1vw, 1rem);
    --fs-600: clamp(1.25rem, 1vw + 1rem, 1.5rem);
    --ff-regular: "Figtree", sans-serif;
    --spacing-1: 1rem;
    --spacing-2: 0.75rem;
    --spacing-3: 0.5rem;
    --spacing-4: 0.25rem;
    --gap: 1rem;
}


/* *************** */
/* Resets          */
/* *************** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
picture,
figure {
  margin: 0;
}

h1,
h2,
p {
  font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* set up the body */
body {
    min-height: 100vh;
    background: hsl(var(--clr-yellow));
    color: hsl(var(--clr-dark));
    font-size: var(--fs-400);
    font-family: var(--ff-regular);
    line-height: 1.5rem;
}


/* -------------------- */
/* Utility classes      */
/* -------------------- */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-600 {
    font-size: var(--fs-600);
}

.text-medium {
    font-weight: 500;
}

.text-xbold {
    font-weight: 800;
}

.flow > * + * {
    margin-top: var(--gap);
}

.accent {
    color: hsl(var(--clr-gray));
}



/* -------------------- */
/* Components           */
/* -------------------- */

.card {
    --gap: 1.25rem;
    width: 22rem;
    min-width: 20rem;
    margin-inline: 1rem;
    padding: var(--spacing-1);
    background: hsl(var(--clr-white));
    border-radius: 15px;
    border: 1px solid hsl(var(--clr-dark));
}

.card.card--shadow {
    position: relative;
}

.card.card--shadow::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    z-index: -1;
    border-radius: inherit;
    background: hsl(var(--clr-dark));
}

.card > header > img {
    border-radius: 10px;
    width: 100%;
}

.card .category {
    display: inline-block;
    padding: 0.25em 1em;
    background-color: hsl(var(--clr-yellow));
    cursor: pointer;
    color: hsl(var(--clr-dark));
    text-decoration: none;
    border-radius: 5px;
}

.card .author {
    display: flex;
    gap: var(--flex-gap, 0.75rem);
    align-items: center;
}

.author > img {
    height: 3em;
}

.card .card-title {
    color: hsl(var(--clr-dark));
    text-decoration: none;
}

.card .card-title:hover,
.card .card-title:focus {
    color: hsl(var(--clr-yellow));
}
